.nav-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.nav-1st-part {
    display: flex;
    gap: 20px;
}

.nav-2nd-part {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-3rd-part button {
    display: flex;
    align-items: center;
    gap: 40px;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}

.nav-4th-part {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.LS-G {
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-2nd-title {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-2nd-title-2 {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-but-1st {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(Group\ 14.png);

}

.header-play {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.header-goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -30px;

}

.header-instant-play {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-no-download {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-online-games {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-iteam {
    margin-top: -40px;
    line-height: 50%;
}

.header-button-iteam {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.sign-in {
    border: none;
    background-color: ;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    padding: 21px 40px;
    border-radius: 20px;
    color: white;
    font-size: 17px;

}

.go-rogue {
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: white;
    font-size: 17px;

}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

    ;
}

.banner-section-description {
    text-align: right;
}

.banner-section-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-section-details {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.banner-our-purpose {
    color: #534C64;
    margin-top: 50px;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;

}

.banner-section-unleas {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.banner-our-purpose,
.banner-section-unleas {
    line-height: 5%;
}

.section-2-container {
    margin-top: 150px;
}

.section-2-title {
    text-align: center;
    margin-bottom: 50px;

}

.section-2-title1 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
}

.section-2-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
}

.section-2-img-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.section-2-img-para {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.section-3-container {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.section-3-content {
    text-align: right;
}

.section-3-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.section-3-title-1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-3-paragra {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section-3-img-1 {
    position: relative;
    margin-left: -700px;
    margin-bottom: -60px;
}

.section-4-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    align-items: center;
    gap: 250px;
}

.section-4-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.section-4-title-1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4-paragraph {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section-4-img-1 {
    position: absolute;
    margin-top: 350px;
    margin-left: -130px;
}

.section-5-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}


.section-5-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.section-5-para {
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section-5-sent {
    display: flex;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;

}

.section-5-sent-1 {
    text-align: left;
    line-height: 120%;
}

.section-5-sent-2 {
    text-align: right;
    line-height: 120%;
}

.section-5-button {
    border: none;
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    color: #F948B2;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

.section-6-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 100px 100px;
}

.section-6 {
    display: flex;
    justify-content: center;
    gap: 50px;




}

.section-6-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-6-another {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-6 button {
    border: none;
    border-radius: 50px;
    background: #FFF;
    padding: 5px 10px;
    margin-bottom: 20px;

}

.section-6-another button {
    border: none;
    border-radius: 50px;
    background: #FFF;
    padding: 5px 10px;

}

footer {
    background: #0B0223;
    padding: 20px 20px;

}

.footer-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;

}

.footer-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;

}

.footer-title-sec {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 50px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 50px;
}

.footer-des {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.footer-last-part {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.watch-now-button {
    position: relative;
    margin-top: -390px;
    cursor: pointer;
}

.watch-now-title {
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}